body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cart-item {
  display: inline-flex;
  margin: 20px 10px;
}
.cart-item .right-block {
  padding: 0px 30px;
}
.cart-item-actions {
  margin-top: 10px;
}
.action-icons {
  height: 25px;
  width: 25px;
  margin-right: 8px;
}
.action-icons:hover{
  cursor: pointer;
}
.cart{
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
}
.cart-icon {
  height: 32px;
  
}
button {
  margin-top: 70px;
}
#dark {
  background-color: rgb(222, 55, 55);
  color: white;
}

#light {
   background-color: grey;
   color: aliceblue;
}
.navbar {
  height: 70px;
  background-color: burlywood;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar .navbar-buttons {
   position: relative;
   padding: 2px 3px;

}
.navbar .navbar-buttons button{
  margin: 2px 4px;
  padding:4px 6px;
  font-family: cursive;
  border-radius: 7px;
  transition: 1s;

}
.navbar .navbar-buttons button:hover {
  background-color: black;
  color: aliceblue;
  cursor: pointer;
  
}
.navbar .heading:hover {
  color: black;

}
.footer {
  height: 80px;
  background-color: burlywood;
  display: inline-flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  justify-content: flex-end;
  align-items: center;
}
.footer .footer-center {
  padding: 0px 0px;
  

}
.footer .footer-right {
  padding: 0px 100px;
  display: inline-flex;
  font-weight: bold;
}
.navbar-icon {
  position: relative;
  padding-right: 8%;
}
.footer-data {
  position: relative;
  padding-right: 8%;
  display: flex;
  flex-direction: row;
}
.cart-icon-span {
  background-color: rgb(0, 0, 0);
   border-radius: 50%;
   padding: 3px 9px;
   position: absolute;
   right: 1;
   top: -9;
   font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


